.creatorchannel{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.creatorchannel img{
    display: flex;
    flex-direction: row;
    height:28vh;
    width:14vw;
    text-align:center;
    border-radius: 30px;

}
.Creators{
    align-items: center;
}
.Creators p{
    margin:20px;
    align-items: center;
  font-weight: bold;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}